$main-one: purple;
$main-two: yellow;

*{
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

html, body{
  min-height: 100%;
  margin: 0;
  section, header{
    background-color: #fff;
    
  }
}

.section_container{
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}


/*
1280
1024
768
640
576
*/


.highlight_text{
  color: $main-one;
}

.underline_container{
  display: flex;
  .colour_one_box, .colour_two_box{
    height: 8px;
    flex-grow: 1;
  }
  .colour_one_box{
    background-color: $main-one;
  }
  .colour_two_box{
    background-color: $main-two;
  }
}

.subheader_container{
  display: flex;
  align-items: flex-end;
  h1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: gray;
    font-size: 60px;
    margin-right: 40px;
    span{
      font-weight: bolder;
      color: $main-one;
      margin-top: -20px;
    }
  }
  div{
    flex-grow: 1;
    text-align: end;
    p{
      font-size: x-large;
      margin-bottom: 2px;
    }
    .underline_container{
      margin-bottom: 20px;
    }
  }
}



h2{
    margin-bottom: 10px;
  }

header{
  width: 100%;
  position: fixed;
  z-index: 200;
  box-shadow: 0 0 10px grey;
  .section_container{
    display: flex;
    justify-content: space-between;
    height: 90px;
    #logo_title_container{
      background-color: white;
      display: flex;
      align-items: center;
      min-width: 265px;
      .logo{
        height: 80px;
      }
      h3{
        span{
          color: $main-one;
          font-weight: bolder;
          font-size: x-large;
        }
        font-size: large;
        color: grey;
      }
    }
    .navbar{
      //flex-grow: 1;
      background-color: white;
      //.navbar-collapse{
      //  justify-content: end;
      //}
      //.dropdown-toggle{
      //  &::after{
      //    display: none
      //  }
      //}
      .navbar-brand{
        display: none;
      }
      .dropdown-menu{
        padding-bottom: 0;
      }
      .underline_container{
        margin-bottom: 0;
      }
    }
  }  
}

#hero{
  padding-top: 90px;
  .carousel{
    img{
      height: 45vw;
    }
    h2{
      font-size: 55px;
      span{
        font-weight: bolder;
        font-size: larger;
      }
    }
    h4{
      font-size: 30px;
      .material-symbols-outlined{
        font-size: 60px;
        &:hover{
          cursor: pointer;
          /*bounce effect*/
        }
      }
    }
  }
}

#welcome{
  padding: 70px 0;

  h1{
    color: $main-one;
    font-weight: bold;
    span{
      font-size: larger;
      font-weight: lighter;
    }
  }
  .underline_container{
    margin-bottom: 30px;
  }
  img{
    float: left;
    height: 300px;
    margin: 0 30px 30px 0;
    display: block;
  }
  p{
    line-height: 1.8;
  }
}

#events{
  background-color: rgba(0,0,0,0);
  .section_container{
    
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  a{
    text-decoration: none;
    color: $main-one;
  }
  #events_bg{
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
  }
  .slogan_container{
    color: white;
    text-align: center;
    min-width: 284px;
    h1{
      font-size: 45px;
    }
    .underline_container{
      padding: 0 20px 0 20px;
    }
    .slogan_top{
      position: relative;
      right: 58px;
    }
    .slogan_bottom{
      position: relative;
      left: 30px;
      margin-bottom: 40px;
    }
    span{
      font-weight: bolder;
      font-size: larger;
    }
  }
  .events_container{
    background-color: rgba(255, 255 ,255 ,0.85);
    padding: 40px 40px 0 40px;
    flex-grow: 1;
    margin: 30px;
    border-radius: 15px;
    .event_container{
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
      .event_title_container{
        flex-grow: 1;
        color: $main-one;
        .underline_container_changer{
          background-color: $main-two;
          height: 8px;
          .colour_one_box_changer{
            width: 0;
            height: 8px;
            background-color: $main-one;
            transition: width 0.5s;
            -webkit-transition: width 0.5s;
            -moz-transition: width 0.5s;
          }
        }
        p{
          font-size: larger;
        }
      }
      .date_container{
        background-color: $main-one;
        color: white;
        border-radius: 15px;
        width: 80px;
        height: 80px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 30px;
        transition: color 0.5s;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        h1{
          margin: 0;
          font-weight: bold;
        }
        p{
          margin: -10px 0 0 0;
        }
      
    }
    &:hover{
        .date_container{
          color: grey;
        }
        .event_title_container{
          .underline_container_changer{
            .colour_one_box_changer{
              width: 100%;
            }
          }
        }
      }
      }  
  }
  
      
      
    
  }
}

#social{
  background-color: $main-one;
  padding: 40px 0 120px 0;
  .section_container{
  color: #fff;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  a{
    text-decoration: none;
    color: white;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    &:hover{
      color: gray;
      h1{
        color: gray;
        span{
          color: gray;
        }
      }
    }
  }
  .subheader_container{
    margin-bottom: 30px;
    h1{
      color: white;
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      span{
        color: white;
        transition: color 0.5s;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
      }
    }
  }
  
  .slick-slider{
    margin: -5px;  
  }
  .bg-dark{
    --bs-bg-opacity: 0;
    margin: 5px;
  }
    


  .card{
    border-radius: 0;
    height: 350px;
    //min-width: 300px;
    //padding: 0 5px;
    background-color: $main-one;
    img{
      height: 350px;
    }
    
    .card-img-overlay{
      .text_over_image{
        text-align: center;
        h3{
          font-size: xx-large;
          text-shadow: 0 1px 0 black;
        }
      }
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      
      .overlay_container{
        //display: flex;
        //padding: 10px;
        justify-content: center;
        align-items: center;
        height: 0;
        background-color: white;
        bottom: 100;
        transition: height 0.5s;
        -webkit-transition: height 0.5s;
        -moz-transition: height 0.5s;
        .tweet_title_container{
          display: flex;
          margin-bottom: 15px;
          img{
            height: 50px;
            border-radius: 25px;
          }
          .tweet_info{
            flex-grow: 1;
            color: black;
            .tweet_name{
              font-weight: 600;
            }
            a{
              color: black;
              font-weight: 600;
            }
            p{
              margin: 0;
            }
          }
        }
        p{  
          color: black;
        }
        *{
          opacity: 0;
        }
      }
      
    }
  &:hover{
    .overlay_container{
      height: 100%;
      padding: 10px;
      *{
        opacity: 1;
      }
    }
  }
}
}
}

#gallery{
  padding-top: 40px;
  .subheader_container{
    margin-bottom: 30px;
    h1, p{
      color: $main-one;
      span{
        color: grey;
        transition: color 0.5s;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
      }
    }
    
  }
  a{
    text-decoration: none;
    &:hover{
      span{
        color: rgb(102, 101, 101);
      }
    }
  }
  .cards_container{
    display: flex;
    justify-content: center;
    .card_container{
      width: 50vw;
      max-width: 450px;
      .card{
        border-radius: 0;
        .card-img-overlay{
          padding: 0;
          width: 100%;
          display: flex;
          flex-direction: column-reverse;
          .overlay_container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 0;
            background-color: $main-one;
            opacity: 0.8;
            bottom: 100;
            transition: height 0.5s;
            -webkit-transition: height 0.5s;
            -moz-transition: height 0.5s;
            .card-title{
              color: rgba(0,0,0,0);
              font-size: xx-large;
              font-weight: bold;
              transition: color 0.5s;
              -webkit-transition: color 0.5s;
              -moz-transition: color 0.5s;
            }
          }
          
        }
      &:hover{
        .overlay_container{
          height: 100%;
          .card-title{
            color: white;
          }
        }
      }
    }
  }
  }
}

#map{
  height: 350px;
  .map_container{
    height: 100%;
    width: 100%;
  }
  
}

#accreditations{
  .section_container{
    background-color: $main-one;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    bottom: 80px;
    z-index: 100;
    .accred{
      height: 100px;
    }
  }
}

#contact{
  .section_container{
    display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  .contact_info{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: grey;
    h2{
      color: $main-one;
      font-weight: bold;
    }
    a{
      text-decoration: none;
      color: grey;
      &:hover{
        text-decoration: underline;
      }
    }
    .address_logo_container{
      width: 100%;
      display: flex;
      justify-content: space-between;
      img{
      height: 150px;
    }
    }
    
    hr{
      width: 85%;
      margin: 20px auto 40px 0;
      display: none;
    }
    .bca{
      margin: 0 auto;
      img{
        height: 100px;
      }
      
      
    }
  }
  }
  
}

footer{
  background-color: $main-one;
  text-align: center;
  .section_container{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  color: white;
  padding-top: 20px;
  a{
    color: white;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color: white;
    }
  }
  ul{
    list-style: none;
    display: flex;
    li{
      margin-right: 20px;
    }
  }
  
  }
  .staff_login, .parent_login{
    display: none;
  }
}

@media screen and (max-width: 1024px){

  header{
    position: static;
    .section_container{
      flex-direction: column-reverse;
      height: 100%;
      width: 100%;
      #logo_title_container{
        min-width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px;
        .logo{
          height: 120px;
        }
        h3{
          font-size: 30px;
          text-align: center;
        }
      }
      .navbar{
        //width: 10px;
        color: white;
        .container{
          justify-content: start;
        }
        .navbar-brand{
          display: initial;
          color: white;
        }
      }
      .navbar, .navbar-extend-lg, .navbar-light, .bg-light, .dropdown-menu, .navbar-nav, .nav-link, .dropdown-item{
        background-color: $main-one !important;
        color: white !important;
      }
    }
  }

  .section_container{
    width: 90%;
  }

  #hero{
    padding-top: 0;
    .carousel{
      h2{
        font-size: 30px;
      }
      h4{
        display: none;
      }
    }
  }

  #welcome{
    img{
      display: none;
    }
  }

  #accreditations{
    .section_container{
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 30px;
      border-radius: 15px;
      position: initial;
      .accred{
        height: 150px;
        margin: 30px;
      }
    }
    
  }

  #contact{
    .section_container{
      flex-direction: column;
      .contact_info{
        width: 100%;
        hr{
          display: initial;

        }
      }
    }
    
  }


footer{
  .small_staff_login, .small_parent_login{
    display: none;
  }
  .staff_login, .parent_login{
    display: block;
    padding: 10px;
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline white;
      }
    }
    h5{
      text-align: center;
      color: white;
    }
}
  .staff_login{
    background-color: black;
  }
  .parent_login{
    background-color: gray;
  }
}
}

@media screen and (max-width: 768px){

  #hero{
    h2{
      display: none;
    }
  }

  .subheader_container{
    h1{
      font-size: 40px;
      span{
        margin-top: -10px;
      }
    }
    p{
      display: none;
    }
  }
  #events{
    p{
      display: initial;
    }
    .section_container{
      padding-left: 0;
      padding-right: 0;
      .slogan_container{
        .slogan_top{
          right: 10px;
        }
        h1{
          font-size: 30px;
        }
      }
      .events_container{
      width: 100%;
      margin: 0;
    }
  }
  }

  #gallery{
    a{
      width: 100vw;
      
    }
    .cards_container{
      .card_container{
        width: 100vw;
        max-width: 100vw;
      }
        
        .card{
          width: 100%;
        }
      }
  }

  #accreditations{
    .section_container{
      .accred{
    height: 80px;
    margin: 20px;
  }
    }
    
  }
  

}